<div class="btn-group" role="group" aria-label="actions" ng-hide="working">
  <button ng-click="kill()" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> kill</button>
  <button ng-click="pull()" class="btn btn-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> pull</button>
  <button ng-click="up()" class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> up</button>
  <button ng-click="displayLogs()" class="btn btn-default"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> logs</button>
</div>
