<h4>Actions</h4>
<div class="btn-group" role="group" aria-label="actions">
  <button ng-click="kill()" class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> kill</button>
  <button ng-click="build()" class="btn btn-default"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> build</button>
  <button ng-click="pull()" class="btn btn-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> pull</button>
  <button ng-click="up()" class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> up</button>
</div>
