<div ng-show="highlighted">
  <h1 ng-show="working"><i class="fa fa-spinner fa-spin"></i></h1>
  <actions project-id="projectId" project="project" output="output" working="working" logs="logs"></actions>
  <br>
  <strong ng-hide="working">{{output}}</strong>
  <br>

  <div ng-hide="working" class="container-detail" ng-repeat="container in project.containers">
    <strong ng-class="{'text-success': container.is_running, 'text-warning': !container.is_running}">
      <b>{{container.name}}</b>
      <span ng-show="container.is_running">[ports: {{container.ports}}]</span>
      <span ng-hide="container.is_running">{{container.state}}</span>
    </strong>
    <log log-data="logs.logs[container.name]"></log>
  </div>
</div>