.service-0 .active.panel {
  border-color: #03A9F4;
  color: #03A9F4;
}
.service-0 .active.panel > .panel-heading {
  background-color: #f7fcff;
  border-color: #03A9F4;
}
.service-1 .active.panel {
  border-color: #F44336;
  color: #F44336;
}
.service-1 .active.panel > .panel-heading {
  background-color: #ffffff;
  border-color: #F44336;
}
.service-2 .active.panel {
  border-color: #E91E63;
  color: #E91E63;
}
.service-2 .active.panel > .panel-heading {
  background-color: #ffffff;
  border-color: #E91E63;
}
.service-3 .active.panel {
  border-color: #9C27B0;
  color: #9C27B0;
}
.service-3 .active.panel > .panel-heading {
  background-color: #f4def8;
  border-color: #9C27B0;
}
.service-4 .active.panel {
  border-color: #673AB7;
  color: #673AB7;
}
.service-4 .active.panel > .panel-heading {
  background-color: #f7f4fc;
  border-color: #673AB7;
}
.service-5 .active.panel {
  border-color: #3F51B5;
  color: #3F51B5;
}
.service-5 .active.panel > .panel-heading {
  background-color: #f7f8fc;
  border-color: #3F51B5;
}
.service-6 .active.panel {
  border-color: #2196F3;
  color: #2196F3;
}
.service-6 .active.panel > .panel-heading {
  background-color: #ffffff;
  border-color: #2196F3;
}
