body {
  background-color: #F9F9F9;
}

.logs{
  max-height: 300px;
  margin: 20px 10px;
  display: block;
  border: 0;
  background: white;
  border-radius: 0;
}

.projects {
  width: 100%;
}

footer {
  margin: 30px 0;
}

.vertical-margin {
  margin: 20px 0;
}