.logs{
  max-height: 500px;
  display: block;
  border: 0;
  background: white;
}

.projects {
  width: 100%;
}

footer {
  margin: 30px 0;
}

.vertical-margin {
  margin: 20px 0;
}

.container-detail {
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  margin-bottom: 30px;
}


.service .off.panel{
  border-color: #CCC;
  color: #CCC;

}

.service .off.panel > .panel-heading {
  background-color: #F9F9F9;
  border-color: #CCC;
}


/* combined logs modal */
.combined-logs {
  overflow-x: scroll;
  height: 500px
}

.combined-logs-line {
  display: block;
  white-space: pre;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.logs-0 {
  color: #F44336;
}
.logs-1 {
  color: #E91E63;
}
.logs-2 {
  color: #9C27B0;
}
.logs-3 {
  color: #673AB7;
}
.logs-4 {
  color: #3F51B5;
}
.logs-5 {
  color: #2196F3;
}
.logs-6 {
  color: #03A9F4;
}
/* END combined logs modal */

.spinner {
  animation-name: rotation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

.project-wizard {
  padding: 10px 50px;
}

.search-items {
  margin-top: 10px;
}

.btn-default {
  background-color: #869198;
}
.btn-default:active, .btn-default.active {
    background: #6d7377;
}
.btn-default:hover, .btn-default.hover {
    background: #939da3;
}